<!-- blog -->
{%- assign num = 0 -%}
{% for post in site.posts %}
{% if post.layout == "post" %}
{%- assign num = num | plus:1 -%}
{% endif %}
{% endfor %}

<section class="section">
  <div class="container">
    <div class="row">
    {% if num > 0 %}
      <div class="col-12 text-center">
        <h3 class="section-title">Blogs</h3>
      </div>
      {% for post in site.posts %}
      {% if post.layout == "post" %}
      {% include post.html %}
      {% endif %}
      {% endfor %}
    {% endif %}
    </div>
  </div>
</section>
<!-- /blog -->